
<div class="page-wrapper">
 	
    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->
 	
    <!-- Main Header -->
    <header class="main-header">
        <!--Header Top-->
        <div class="header-top">
            <div class="auto-container">
                <div class="clearfix">
                    <!--Top Left-->
                    <div class="top-left col-md-4 col-sm-12 col-xs-12">
                        <div class="trend">Trending: </div>
                        <div class="single-item-carousel owl-carousel owl-theme">
                            <div class="slide">
                                <div class="text">Croatia shocks Euro champion Spain Oops! _</div>
                            </div>
                            <div class="slide">
                                <div class="text">Croatia champion Spain Oops! _</div>
                            </div>
                            <div class="slide">
                                <div class="text">Croatia shocks Euro champion.</div>
                            </div>
                        </div>
                    </div>
                    <!--Top Right-->
                    <div class="top-right pull-right col-md-8 col-sm-12 col-xs-12">
                        <ul class="top-nav">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                        <ul class="english-nav">
                            <li class="active"><a href="#">Eng</a></li>
                            <li><a href="#">fr</a></li>
                            <li><a href="#">rus</a></li>
                        </ul>
                        <ul class="social-nav">
                            <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin-square"></span></a></li>
                            <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Header-Upper-->
        <div class="header-upper">
            <div class="auto-container">
                <div class="clearfix">
                    
                    <div class="pull-left logo-outer">
                        <div class="logo"><a href="{{baseUrl}}"></a></div>
                    </div>
                    
                    <div class="pull-right upper-right clearfix">
                        <div class="add-image">
                            <a href="#"><img src="assets/images/resource/header-add.jpg" alt="" /></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        
        <!--Header Lower-->
        <div class="header-lower">
            <div class="auto-container">
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix" id="bs-example-navbar-collapse-1">
                            <ul class="navigation clearfix">
                                <!-- [routerLink]="['', menu.category_link]" -->
                                <li [routerLinkActive]="['current']" class="dropdown" *ngFor="let menu of allCategories"><a  href="{{baseUrl}}{{menu.category_link}}">{{menu.category_name}}</a>
                                    <ul>
                                        <!-- [routerLink]="['', menu.category_link+''+submenu.category_link]" -->
                                        <li *ngFor="let submenu of menu.sub"><a  href="{{baseUrl}}{{menu.category_link}}/{{submenu.category_link}}">{{submenu.category_name}}</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Main Menu End-->
                    <div class="outer-box">
                        
                        <!--Search Box-->
                        <div class="search-box-outer">
                            <div class="dropdown">
                                <button class="search-box-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>
                                <ul class="dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu1">
                                    <li class="panel-outer">
                                        <div class="form-container">
                                            <form method="post" action="blog.html">
                                                <div class="form-group">
                                                    <input type="search" name="field-name" value="" placeholder="Search Here" required>
                                                    <button type="submit" class="search-btn"><span class="fa fa-search"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                    
                    <!-- Hidden Nav Toggler -->
                     <div class="nav-toggler">
                         <button class="hidden-bar-opener"><span class="icon qb-menu1"></span></button>
                     </div>
                    
                </div>
            </div>
        </div>
        <!--End Header Lower-->
        
        <!--Sticky Header-->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="index.html" class="img-responsive" title=""></a>
                </div>
                
                <!--Right Col-->
                <div class="right-col pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="current dropdown" *ngFor="let menu of allCategories"><a href="{{baseUrl}}{{menu.category_link}}">{{menu.category_name}}</a>
                                    <ul>
                                        <li *ngFor="let submenu of menu.sub"><a href="{{baseUrl}}{{menu.category_link}}/{{submenu.category_link}}">{{submenu.category_name}}</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
                
            </div>
        </div>
        <!--End Sticky Header-->
        
    </header>
    <!--End Header Style Two -->
    
    <!-- Hidden Navigation Bar -->
    <section class="hidden-bar left-align">
        
        <div class="hidden-bar-closer">
            <button><span class="qb-close-button"></span></button>
        </div>
        
        <!-- Hidden Bar Wrapper -->
        <div class="hidden-bar-wrapper">
            <div class="logo">
            	<a href="index.html"></a>
            </div>
            <!-- .Side-menu -->
            <div class="side-menu">
            	<!--navigation-->
                <ul class="navigation clearfix">
                    <li class="current dropdown"><a href="#">Home</a>
                        <ul>
                            <li><a href="index-1.html">Home 01</a></li>
                            <li><a href="index-2.html">Home 02</a></li>
                            <li><a href="index-3.html">Home 03</a></li>
                            <li><a href="index-4.html">Home 04</a></li>
                            <li><a href="index-5.html">Home 05</a></li>
                            <li><a href="index-6.html">Home 06</a></li>
                            <li><a href="index-7.html">Home 07</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">Headers</a>
                        <ul>
                            <li><a href="header-1.html">Header 01</a></li>
                            <li><a href="header-2.html">Header 02</a></li>
                            <li><a href="header-3.html">Header 03</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="gallery.html">gallery</a></li>
                    <li class="dropdown"><a href="#">Blog</a>
                        <ul>
                            <li><a href="blog-single.html">blog Single One</a></li>
                            <li><a href="blog-single-2.html">Blog Single Two</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">Shop</a>
                        <ul>
                            <li><a href="shop.html">Our Shop</a></li>
                            <li><a href="shop-single.html">Shop Single</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                 </ul>
            </div>
            <!-- /.Side-menu -->
            
            <!--Options Box-->
            <div class="options-box">
            	<!--Sidebar Search-->
                <div class="sidebar-search">
                    <form method="post" action="contact.html">
                        <div class="form-group">
                            <input type="search" name="text" value="" placeholder="Search ..." required="">
                            <button type="submit" class="theme-btn"><span class="fa fa-search"></span></button>
                        </div>
                    </form>
                </div>
                
                <!--Mobile Cart-->
                <div class="mobile-cart">
                	<a href="shop-single.html" class="clearfix">
                    	<div class="pull-left">
                        	<div class="text">0 items 0.00$</div>
                        </div>
                        <div class="pull-right">
                        	<span class="icon fa fa-shopping-cart"></span>
                        </div>
                    </a>
                </div>
                
                <!--Language Dropdown-->
                <div class="language dropdown"><a class="btn btn-default dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#"> English <span class="icon fa fa-angle-down"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a href="#">English</a></li>
                        <li><a href="#">German</a></li>
                        <li><a href="#">Arabic</a></li>
                        <li><a href="#">Hindi</a></li>
                    </ul>
                </div>
                
                <!--Social Links-->
                <ul class="social-links clearfix">
                    <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fa fa-pinterest"></span></a></li>                    
                </ul>
                
            </div>
            
        </div><!-- / Hidden Bar Wrapper -->
        
    </section>
    <!-- End / Hidden Bar -->
    
    <router-outlet></router-outlet>
    
	<!--Main Footer-->
    <footer class="main-footer">
    	<div class="widgets-section">
        	<div class="auto-container">
            	<div class="row clearfix">
                	
                    <!--Widget Column / Reviews Widget-->
                    <div class="widget-column col-md-4 col-sm-6 col-xs-12">
                    	<div class="footer-widget reviews-widget">
                        	<h2>Popular Reviews</h2>
                            <!--Review Block-->
                            <div class="review-block">
                            	<div class="inner-box">
                                	<div class="image"><a href="#"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/review-1.jpg" alt="" /></a></div>
                                    <div class="text"><a href="#">A young woman holding a beautiful umbrella in the rain</a></div>
                                    <span class="ratings">
                                    	<span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star light"></span>
                                        <span>9.0</span>
                                    </span>
                                </div>
                            </div>
                            
                            <!--Review Block-->
                            <div class="review-block">
                            	<div class="inner-box">
                                	<div class="image"><a href="#"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/review-2.jpg" alt="" /></a></div>
                                    <div class="text"><a href="#">Study the New Digital Course Developed with Google</a></div>
                                    <span class="ratings">
                                    	<span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star light"></span>
                                        <span>9.0</span>
                                    </span>
                                </div>
                            </div>
                            
                            <!--Review Block-->
                            <div class="review-block">
                            	<div class="inner-box">
                                	<div class="image"><a href="#"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/review-3.jpg" alt="" /></a></div>
                                    <div class="text"><a href="#">A modern day security strategy for your computer</a></div>
                                    <span class="ratings">
                                    	<span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star light"></span>
                                        <span>9.0</span>
                                    </span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--Widget Column / Instagram Widget-->
                    <div class="widget-column col-md-4 col-sm-6 col-xs-12">
                    	<div class="footer-widget isntagram-widget">
                        	<h2>Instagram Photos</h2>
                            <div class="clearfix">
                            	<figure class="image"><a href="assets/images/resource/news-1.jpg" class="lightbox-image"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/instagram-1.jpg" alt=""></a></figure>
                                <figure class="image"><a href="assets/images/resource/news-2.jpg" class="lightbox-image"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/instagram-2.jpg" alt=""></a></figure>
                                <figure class="image"><a href="assets/images/resource/news-3.jpg" class="lightbox-image"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/instagram-3.jpg" alt=""></a></figure>
                                <figure class="image"><a href="assets/images/resource/news-4.jpg" class="lightbox-image"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/instagram-4.jpg" alt=""></a></figure>
                                <figure class="image"><a href="assets/images/resource/news-1.jpg" class="lightbox-image"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/instagram-5.jpg" alt=""></a></figure>
                                <figure class="image"><a href="assets/images/resource/news-2.jpg" class="lightbox-image"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/instagram-6.jpg" alt=""></a></figure>
                                <figure class="image"><a href="assets/images/resource/news-3.jpg" class="lightbox-image"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/instagram-7.jpg" alt=""></a></figure>
                                <figure class="image"><a href="assets/images/resource/news-4.jpg" class="lightbox-image"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/instagram-8.jpg" alt=""></a></figure>
                            </div>
                        </div>
                        
                        <div class="footer-widget popular-tags">
                        	<h2>Popular Tags</h2>
                            <a href="#">Design</a>
                            <a href="#">Fashion</a>
                            <a href="#">Money</a>
                            <a href="#">Fashion</a>
                            <a href="#">Entertanment</a>
                            <a href="#">Design</a>
							<a href="#">Fashion</a>
                            <a href="#">Pixels</a>
                            <a href="#">Business</a>
                            <a href="#">Fashion</a>
                            <a href="#">Design</a>
                        </div>
                    </div>
                    
                    <!--Widget Column / Popular Widget-->
                    <div class="widget-column col-md-4 col-sm-6 col-xs-12">
                    	<div class="footer-widget popular-widget">
                        	<h2>Popular Posts</h2>
                            <!--News Info-->
                            <div class="news-info">
                            	<div class="inner-box">
                                	<div class="image">
                                    	<img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/news-post-1.jpg" alt="" />
                                        <a class="overlay" href="#"><span class="icon fa fa-play"></span></a>
                                    </div>
                                    <div class="text"><a href="#">Study the New Digital Course Developed with Google</a></div>
                                    <div class="post-date">March 15, 2016</div>
                                </div>
                            </div>
                            
                            <!--News Info-->
                            <div class="news-info">
                            	<div class="inner-box">
                                	<div class="image">
                                    	<img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/news-post-2.jpg" alt="" />
                                        <a class="overlay" href="#"><span class="icon fa fa-play"></span></a>
                                    </div>
                                    <div class="text"><a href="#">A young woman holding a beautiful umbrella in the rain</a></div>
                                    <div class="post-date">March 16, 2016</div>
                                </div>
                            </div>
                            
                            <!--News Info-->
                            <div class="news-info">
                            	<div class="inner-box">
                                	<div class="image">
                                    	<img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/news-post-3.jpg" alt="" />
                                        <a class="overlay" href="#"><span class="icon fa fa-play"></span></a>
                                    </div>
                                    <div class="text"><a href="#">Gain Essential Creative Project Management Training</a></div>
                                    <div class="post-date">March 17, 2016</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="auto-container">
            	<div class="row clearfix">
                	<!--Column-->
                    <div class="column col-md-3 col-sm-12 col-xs-12">
                    	<div class="logo">
                        	<a href="index.html"></a>
                        </div>
                    </div>
                    <!--Column-->
                    <div class="column col-md-6 col-sm-12 col-xs-12">
                    	<div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient montesti, nascetur ridiculus mus. Donec qua. Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor.</div>
                    </div>
                    <!--Column-->
                    <div class="column col-md-3 col-sm-12 col-xs-12">
                    	<ul class="social-icon-one">
                        	<li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li class="twitter"><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li class="g_plus"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li class="linkedin"><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            <li class="pinteret"><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                            <li class="android"><a href="#"><span class="fa fa-android"></span></a></li>
                            <li class="dribbble"><a href="#"><span class="fa fa-dribbble"></span></a></li>
                            <li class="rss"><a href="#"><span class="fa fa-rss"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Copyright Section-->
            <div class="copyright-section">
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <ul class="footer-nav">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Advertisement</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="copyright">&copy; Copyright NINZIO. All rights reserved.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--End Main Footer-->
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-double-up"></span></div>

