<!--Content Side-->
                <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <!-- <img *ngIf="loading" style="display: block;margin-left: auto;margin-right: auto;" src="assets/images/AjaxLoader.gif"> -->
                    <!--Sec Title-->
                        <div class="sec-title">
                            <h2>Latest Post <span *ngIf="categoryName" > of {{categoryName}}</span></h2>
                        </div>
                    <!--Latest News-->
                    <div class="contain" appInfiniteScroller scrollPerecnt="70" immediateCallback="true" [scrollCallback]="scrollCallback">
                        
                        <div class="row clearfix post_infinite">
                           
                            <!--News Block Two-->
                            <div class="news-block-two with-margin col-md-6 col-sm-6 col-xs-12" *ngFor="let item of news">
                                <!-- {{item | json}} -->
                                <div class="inner-box">
                                    <image-show [cpImage]="item"></image-show>
                                    
                                    
                                </div>
                            </div>
                            
                        </div> 

                        <img *ngIf="loading" style="display: block;margin-left: auto;margin-right: auto;" src="assets/images/AjaxLoader.gif">
                    </div>

                    <!-- <div class="contain" appInfiniteScroller scrollPerecnt="70" immediateCallback="true" [scrollCallback]="scrollCallback">
<ul id="infinite-scroller">
    <li  *ngFor="let item of news">
      <div class="left">Name : {{item.page_name}}</div>
      <div class="left">Email : {{item.page_title}}</div>
      <div class="left">Details : {{item.details.category_detail.category_name}} </div>
    </li>
</ul>
</div> -->
                </div>