<!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                
                <latest-post-show></latest-post-show>
                
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar default-sidebar right-sidebar">
                    
                        <!--Social Widget-->
                        <div class="sidebar-widget sidebar-social-widget">
                            <div class="sidebar-title">
                                <h2>Follow Us</h2>
                            </div>
                            <ul class="social-icon-one alternate">
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li class="twitter"><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li class="g_plus"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                <li class="linkedin"><a href="#"><span class="fa fa-linkedin-square"></span></a></li>
                                <li class="pinteret"><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                                <li class="android"><a href="#"><span class="fa fa-android"></span></a></li>
                                <li class="instagram"><a href="#"><span class="fa fa-instagram"></span></a></li>
                                <li class="vimeo"><a href="#"><span class="fa fa-vimeo"></span></a></li>
                            </ul>
                        </div>
                        <!--End Social Widget-->
                    
                        <!-- Search -->
                        <div class="sidebar-widget search-box">
                            <form method="post" action="contact.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Search" required>
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
                        </div>
                        
                        <!--Category Widget-->
                        <div class="sidebar-widget categories-widget">
                            <div class="sidebar-title">
                                <h2>Categories</h2>
                            </div>
                            <ul class="cat-list">
                                <li class="clearfix"><a href="#">Travel <span>(30)</span></a></li>
                                <li class="clearfix"><a href="#">Entertainment<span>(9)</span></a></li>
                                <li class="clearfix"><a href="#">Sport<span>(13)</span></a></li>
                                <li class="clearfix"><a href="#">Life Style<span>(70)</span></a></li>
                                <li class="clearfix"><a href="#">Tech<span>(11)</span></a></li>
                                <li class="clearfix"><a href="#">Money<span>(5)</span></a></li>
                                <li class="clearfix"><a href="#">Photo<span>(14)</span></a></li>
                            </ul>
                        </div>
                        <!--End Category Widget-->
                        
                        <!--News Post Widget-->
                        <div class="sidebar-widget posts-widget">
                            
                            <!--Product widget Tabs-->
                            <div class="product-widget-tabs">
                                <!--Product Tabs-->
                                <div class="prod-tabs tabs-box">
                                
                                    <!--Tab Btns-->
                                    <ul class="tab-btns tab-buttons clearfix">
                                        <li data-tab="#prod-popular" class="tab-btn active-btn">Popular</li>
                                        <li data-tab="#prod-recent" class="tab-btn">Recent</li>
                                        <li data-tab="#prod-comment" class="tab-btn">Comments</li>
                                    </ul>
                                    
                                    <!--Tabs Container-->
                                    <div class="tabs-content">
                                        
                                        <!--Tab / Active Tab-->
                                        <div class="tab active-tab" id="prod-popular">
                                            <div class="content">
                                                
                                                <article class="widget-post">
                                                    <figure class="post-thumb"><a href="blog-single.html"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/post-thumb-1.jpg" alt=""></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                                    <div class="text"><a href="blog-single.html">Priyanka Chopra got her what photoshopped?</a></div>
                                                    <div class="post-info">April 01, 2016</div>
                                                </article>
                                                
                                                <article class="widget-post">
                                                    <figure class="post-thumb"><a href="blog-single.html"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/post-thumb-2.jpg" alt=""></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                                    <div class="text"><a href="blog-single.html">Jerry Seinfeld grabs coffee with Margaret Cho and it gets</a></div>
                                                    <div class="post-info">April 02, 2016</div>
                                                </article>
                                                
                                                <article class="widget-post">
                                                    <figure class="post-thumb"><a href="blog-single.html"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/post-thumb-3.jpg" alt=""></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                                    <div class="text"><a href="blog-single.html">American Black Film Festival New projects from film TV</a></div>
                                                    <div class="post-info">April 03, 2016</div>
                                                </article>
                                                
                                                <article class="widget-post">
                                                    <figure class="post-thumb"><a href="blog-single.html"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/post-thumb-4.jpg" alt=""></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                                    <div class="text"><a href="blog-single.html">Amy Schumer swaps lives with Anna Wintour</a></div>
                                                    <div class="post-info">April 04, 2016</div>
                                                </article>
                                                
                                                <article class="widget-post">
                                                    <figure class="post-thumb"><a href="blog-single.html"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/post-thumb-9.jpg" alt=""></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                                    <div class="text"><a href="blog-single.html">Priyanka Chopra got her what photoshopped?</a></div>
                                                    <div class="post-info">April 02, 2016</div>
                                                </article>
                                                
                                            </div>
                                        </div>
                                        
                                        <!--Tab-->
                                        <div class="tab" id="prod-recent">
                                            <div class="content">
                                                
                                                <article class="widget-post">
                                                    <figure class="post-thumb"><a href="blog-single.html"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/post-thumb-2.jpg" alt=""></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                                    <div class="text"><a href="blog-single.html">Jerry Seinfeld grabs coffee with Margaret Cho and it gets</a></div>
                                                    <div class="post-info">April 02, 2016</div>
                                                </article>
                                                
                                                <article class="widget-post">
                                                    <figure class="post-thumb"><a href="blog-single.html"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/post-thumb-3.jpg" alt=""></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                                    <div class="text"><a href="blog-single.html">American Black Film Festival New projects from film TV</a></div>
                                                    <div class="post-info">April 03, 2016</div>
                                                </article>
                                                
                                            </div>
                                        </div>
                                        
                                        <!--Tab-->
                                        <div class="tab" id="prod-comment">
                                            <div class="content">
                                                
                                                <article class="widget-post">
                                                    <figure class="post-thumb"><a href="blog-single.html"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/post-thumb-3.jpg" alt=""></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                                    <div class="text"><a href="blog-single.html">American Black Film Festival New projects from film TV</a></div>
                                                    <div class="post-info">April 03, 2016</div>
                                                </article>
                                                
                                                <article class="widget-post">
                                                    <figure class="post-thumb"><a href="blog-single.html"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/post-thumb-4.jpg" alt=""></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                                    <div class="text"><a href="blog-single.html">Amy Schumer swaps lives with Anna Wintour</a></div>
                                                    <div class="post-info">April 04, 2016</div>
                                                </article>
                                                
                                                <article class="widget-post">
                                                    <figure class="post-thumb"><a href="blog-single.html"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/post-thumb-1.jpg" alt=""></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                                    <div class="text"><a href="blog-single.html">Priyanka Chopra got her what photoshopped?</a></div>
                                                    <div class="post-info">April 01, 2016</div>
                                                </article>
                                                
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <!--End Product Info Tabs-->
                            
                        </div>
                        <!--End Post Widget-->
                        
                        <!--Cooment Widget-->
                        <div class="sidebar-widget sidebar-comment-widget">
                            <div class="sidebar-title">
                                <h2>Recent Comments</h2>
                            </div>
                            <article class="widget-comment-post">
                                <figure class="post-thumb"><a href="blog-single.html"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/comment.jpg" alt=""></a></figure>
                                <div class="text"><a href="blog-single.html">Priyanka Chopra got her what photoshopped?</a></div>
                                <div class="post-info">April 01, 2016</div>
                            </article>
                            <article class="widget-comment-post">
                                <figure class="post-thumb"><a href="blog-single.html"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/comment.jpg" alt=""></a></figure>
                                <div class="text"><a href="blog-single.html">Jerry Seinfeld grabs coffee with Cho and it gets</a></div>
                                <div class="post-info">April 02, 2016</div>
                            </article>
                            <article class="widget-comment-post">
                                <figure class="post-thumb"><a href="blog-single.html"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/comment.jpg" alt=""></a></figure>
                                <div class="text"><a href="blog-single.html">American Black Film Festival New projects from film TV</a></div>
                                <div class="post-info">April 03, 2016</div>
                            </article>
                            <article class="widget-comment-post">
                                <figure class="post-thumb"><a href="blog-single.html"><img class="wow fadeIn" data-wow-delay="0ms" data-wow-duration="2500ms" src="assets/images/resource/comment.jpg" alt=""></a></figure>
                                <div class="text"><a href="blog-single.html">Amy Schumer swaps lives with Anna Wintour</a></div>
                                <div class="post-info">April 04, 2016</div>
                            </article>
                        </div>
                        
                        <!--NewsLetter Widget-->
                        <div class="newsletter-widget no-margin-btm">
                            <div class="inner-box">
                                <h2>Subscribe to Newsletter</h2>
                                <div class="emailed-form">
                                    <form method="post" action="contact.html">
                                        <div class="form-group">
                                            <input type="email" name="email" value="" placeholder="Enter your email..." required>
                                            <button type="submit" class="theme-btn">Subscribe!</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </aside>
                </div>
                
            </div>
            
        </div>
    </div>
    <!--End Sidebar Page Container-->
    