<!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="content">
                        <div class="blog-single">
                            <div class="inner-box">
                                <div class="upper-box">
                                    <ul class="breadcrumb-bar">
                                        <li><a href="#">Home</a></li>
                                        <li>Featured</li>
                                        <li>Movies: Midnight Special delivers a new short trailer</li>
                                    </ul>
                                    <ul class="tag-title">
                                        <li>Featured</li>
                                        <li>Travel</li>
                                    </ul>
                                    <h2>{{ postdesc?.page_title }} </h2>
                                    <ul class="post-meta">
                                        <li><span class="icon qb-clock"></span>March 16, 2016</li>
                                        <li><span class="icon qb-user2"></span>by Ninzio</li>
                                        <li><span class="icon fa fa-comment-o"></span>3 comments</li>
                                        <li><span class="icon qb-eye"></span>1524 Views</li>
                                    </ul>
                                    <ul class="social-icon-one alternate">
                                        <li class="share">Share:</li>
                                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                        <li class="twitter"><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li class="g_plus"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                        <li class="linkedin"><a href="#"><span class="fa fa-linkedin-square"></span></a></li>
                                        <li class="pinteret"><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                                    </ul>
                                </div>
                                <div class="text">
                                    <p [innerHTML]="postdesc?.page_description"></p>
                                </div>
                                <!--post-share-options-->
                                <div class="post-share-options">
                                    <div class="tags clearfix"><a href="#">Design</a> <a href="#">Fashion</a> <a href="#">Money</a></div>
                                </div>
                                
                                <!--New Article-->
                                <ul class="new-article clearfix">
                                    <li><a href="#"><span class="fa fa-angle-left"></span> &ensp; &ensp; &ensp; &ensp; Previous Article</a></li>
                                    <li><a href="#">Next Article &ensp; &ensp; &ensp; &ensp; <span class="fa fa-angle-right"></span></a></li>
                                </ul>
                            </div>
                            
                            <!--Author Box-->
                            <div class="author-box">
                                <div class="author-comment">
                                    <div class="inner-box">
                                        <div class="image"><img src="assets/images/resource/author-1.jpg" alt="" /></div>
                                        <h4>Sandra Mavic</h4>
                                        <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient montesti, nascetur ridiculus mus. Donec quam penatibus et magnis .</div>
                                        <ul class="social-icon-two">
                                            <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>
                                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                            <li><a href="#"><span class="fa fa-linkedin-square"></span></a></li>
                                            <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Related Posts-->
                            <div class="related-posts">
                                <div class="sec-title">
                                    <h2>Related Articles</h2>
                                </div>
                                <div class="related-item-carousel owl-carousel owl-theme">
                                    
                                    <!--News Block Two-->
                                    <div class="news-block-two small-block">
                                        <div class="inner-box">
                                            <div class="image">
                                                <a href="#"><img src="assets/images/resource/news-40.jpg" alt="" /></a>
                                                <div class="category"><a href="#">Travel</a></div>
                                            </div>
                                            <div class="lower-box">
                                                <h3><a href="#">Elon Musk's Hyperloop vision races toward first public test</a></h3>
                                                <ul class="post-meta">
                                                    <li><span class="icon fa fa-clock-o"></span>April 03, 2016</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!--News Block Two-->
                                    <div class="news-block-two small-block">
                                        <div class="inner-box">
                                            <div class="image">
                                                <a href="#"><img src="assets/images/resource/news-41.jpg" alt="" /></a>
                                                <div class="category"><a href="#">Sports</a></div>
                                            </div>
                                            <div class="lower-box">
                                                <h3><a href="#">A modern day security strategy for your computer </a></h3>
                                                <ul class="post-meta">
                                                    <li><span class="icon fa fa-clock-o"></span>April 04, 2016</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!--News Block Two-->
                                    <div class="news-block-two small-block">
                                        <div class="inner-box">
                                            <div class="image">
                                                <a href="#"><img src="assets/images/resource/news-42.jpg" alt="" /></a>
                                                <div class="category">photo</div>
                                            </div>
                                            <div class="lower-box">
                                                <h3><a href="#">Fix an Exchange Rate now with a New Business App</a></h3>
                                                <ul class="post-meta">
                                                    <li><span class="icon fa fa-clock-o"></span>April 04, 2016</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!--News Block Two-->
                                    <div class="news-block-two small-block">
                                        <div class="inner-box">
                                            <div class="image">
                                                <a href="#"><img src="assets/images/resource/news-40.jpg" alt="" /></a>
                                                <div class="category"><a href="#">Travel</a></div>
                                            </div>
                                            <div class="lower-box">
                                                <h3><a href="#">Elon Musk's Hyperloop vision races toward first public test</a></h3>
                                                <ul class="post-meta">
                                                    <li><span class="icon fa fa-clock-o"></span>April 03, 2016</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!--News Block Two-->
                                    <div class="news-block-two small-block">
                                        <div class="inner-box">
                                            <div class="image">
                                                <a href="#"><img src="assets/images/resource/news-41.jpg" alt="" /></a>
                                                <div class="category"><a href="#">Sports</a></div>
                                            </div>
                                            <div class="lower-box">
                                                <h3><a href="#">A modern day security strategy for your computer </a></h3>
                                                <ul class="post-meta">
                                                    <li><span class="icon fa fa-clock-o"></span>April 04, 2016</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!--News Block Two-->
                                    <div class="news-block-two small-block">
                                        <div class="inner-box">
                                            <div class="image">
                                                <a href="#"><img src="assets/images/resource/news-42.jpg" alt="" /></a>
                                                <div class="category">photo</div>
                                            </div>
                                            <div class="lower-box">
                                                <h3><a href="#">Fix an Exchange Rate now with a New Business App</a></h3>
                                                <ul class="post-meta">
                                                    <li><span class="icon fa fa-clock-o"></span>April 04, 2016</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <!--Comments Area-->
                            <div class="comments-area">
                                <div class="sec-title"><h2>2 Comments</h2></div>
                                <!--Comment Box-->
                                <div class="comment-box">
                                    <div class="comment">
                                        <div class="author-thumb"><img src="assets/images/resource/author-2.jpg" alt=""></div>
                                        <div class="comment-inner">
                                            <div class="comment-info">Sandra Mavic</div>
                                            <div class="post-date">March 03, 2016</div>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient montesti, nascetur ridiculus mus. Donec qam penatibus et magnis .</div>
                                            <a href="#" class="reply-btn">Reply</a>
                                        </div>
                                    </div>
                                </div>
                                <!--Comment Box-->
                                <div class="comment-box reply-comment">
                                    <div class="comment">
                                        <div class="author-thumb"><img src="assets/images/resource/author-2.jpg" alt=""></div>
                                        <div class="comment-inner">
                                            <div class="comment-info">Sandra Mavic</div>
                                            <div class="post-date">March 03, 2016</div>
                                            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient montesti, nascetur ridiculus mus. Donec qam penatibus et magnis .</div>
                                            <a href="#" class="reply-btn">Reply</a>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <!-- Comment Form -->
                            <div class="comment-form">
                                    
                                <div class="sec-title"><h2>Leave a comment</h2></div>
                                <!--Comment Form-->
                                <form method="post" action="blog.html">
                                    <div class="row clearfix">
                                        <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                                            <input type="text" name="username" placeholder="Name ..." required>
                                        </div>
                                        
                                        <div class="col-md-4 col-sm-6 col-xs-12 form-group">
                                            <input type="email" name="email" placeholder="Email ..." required>
                                        </div>
                                        
                                        <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                            <input type="text" name="website" placeholder="Website ..." required>
                                        </div>
                                        
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                            <textarea name="message" placeholder="Message ..."></textarea>
                                        </div>
                                        
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                            <button class="theme-btn" type="submit" name="submit-form">Submit Comment</button>
                                        </div>
                                        
                                    </div>
                                </form>
                                    
                            </div>
                            <!--End Comment Form -->
                            
                        </div>
                    </div>
                </div>
                
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar default-sidebar right-sidebar">
                    
                        <!-- Search -->
                        <div class="sidebar-widget search-box">
                            <form method="post" action="contact.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Search" required>
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
                        </div>
                        
                        <!--Recent News Widget-->
                        <div class="sidebar-widget recent-news-widget">
                            <div class="sec-title">
                                <h2>Recent Reviews</h2>
                            </div>
                            <!--News Block Five-->
                            <div class="news-block-five">
                                <div class="inner-box">
                                    <div class="image">
                                        <a href="#"><img src="assets/images/resource/news-14.jpg" alt="" /></a>
                                        <div class="category"><a href="#">Travel</a></div>
                                    </div>
                                    <div class="lower-box">
                                        <h3><a href="#">Casto dog meat festival begins in China amid widespread criticism</a></h3>
                                        <div class="rating">
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star light"></span>
                                            <span class="total-rating">9.3</span>
                                        </div>
                                        <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient montesti, nascetur ridiculus mus. Donec quam…</div>
                                    </div>
                                </div>
                            </div>
                        
                            <!--Widget Post Two-->
                            <article class="widget-post-two">
                                <div class="inner">
                                    <figure class="post-thumb"><a href="blog-single.html"><img src="assets/images/resource/post-thumb-5.jpg" alt=""></a></figure>
                                    <div class="text"><a href="blog-single.html">A young woman holding a beautiful umbrella in the rain</a></div>
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star light"></span>
                                        <span class="total-rating">7.2</span>
                                    </div>
                                </div>
                            </article>
                        
                            <!--Widget Post Two-->
                            <article class="widget-post-two">
                                <div class="inner">
                                    <figure class="post-thumb"><a href="blog-single.html"><img src="assets/images/resource/post-thumb-2.jpg" alt=""></a></figure>
                                    <div class="text"><a href="blog-single.html">Fix an Exchange Rate now with a Forward Contract</a></div>
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="total-rating">9.0</span>
                                    </div>
                                </div>
                            </article>
                        
                            <!--Widget Post Two-->
                            <article class="widget-post-two">
                                <div class="inner">
                                    <figure class="post-thumb"><a href="blog-single.html"><img src="assets/images/resource/post-thumb-3.jpg" alt=""></a></figure>
                                    <div class="text"><a href="blog-single.html">Study the New Digital Course Developed with Google</a></div>
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star light"></span>
                                        <span class="total-rating">5.3</span>
                                    </div>
                                </div>
                            </article>
                            
                        </div>
                        
                        <!--Social Widget-->
                        <div class="sidebar-widget sidebar-social-widget">
                            <div class="sidebar-title">
                                <h2>Follow Us</h2>
                            </div>
                            <ul class="social-icon-one alternate">
                                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li class="twitter"><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li class="g_plus"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                <li class="linkedin"><a href="#"><span class="fa fa-linkedin-square"></span></a></li>
                                <li class="pinteret"><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                                <li class="android"><a href="#"><span class="fa fa-android"></span></a></li>
                                <li class="instagram"><a href="#"><span class="fa fa-instagram"></span></a></li>
                                <li class="vimeo"><a href="#"><span class="fa fa-vimeo"></span></a></li>
                            </ul>
                        </div>
                        <!--End Social Widget-->
                        
                        <!--Adds Widget-->
                        <div class="sidebar-widget sidebar-adds-widget">
                            <div class="adds-block" style="background-image:url(assets/images/resource/add-image.jpg);">
                                <div class="inner-box">
                                    <div class="text">Advertisement <span> 340 x 283</span></div>
                                    <a href="#" class="theme-btn btn-style-two">Purchase Now</a>
                                </div>
                            </div>
                        </div>
                        <!--Ends Adds Widget-->
                        
                        <!--News Post Widget-->
                        <div class="sidebar-widget posts-widget">
                            
                            <!--Product widget Tabs-->
                            <div class="product-widget-tabs">
                                <!--Product Tabs-->
                                <div class="prod-tabs tabs-box">
                                
                                    <!--Tab Btns-->
                                    <ul class="tab-btns tab-buttons clearfix">
                                        <li data-tab="#prod-popular" class="tab-btn active-btn">Popular</li>
                                        <li data-tab="#prod-recent" class="tab-btn">Recent</li>
                                        <li data-tab="#prod-comment" class="tab-btn">Comments</li>
                                    </ul>
                                    
                                    <!--Tabs Container-->
                                    <div class="tabs-content">
                                        
                                        <!--Tab / Active Tab-->
                                        <div class="tab active-tab" id="prod-popular">
                                            <div class="content">
                                                
                                                <article class="widget-post">
                                                    <figure class="post-thumb"><a href="blog-single.html"><img src="assets/images/resource/post-thumb-1.jpg" alt=""></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                                    <div class="text"><a href="blog-single.html">Priyanka Chopra got her what photoshopped?</a></div>
                                                    <div class="post-info">April 01, 2016</div>
                                                </article>
                                                
                                                <article class="widget-post">
                                                    <figure class="post-thumb"><a href="blog-single.html"><img src="assets/images/resource/post-thumb-2.jpg" alt=""></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                                    <div class="text"><a href="blog-single.html">Jerry Seinfeld grabs coffee with Margaret Cho and it gets</a></div>
                                                    <div class="post-info">April 02, 2016</div>
                                                </article>
                                                
                                                <article class="widget-post">
                                                    <figure class="post-thumb"><a href="blog-single.html"><img src="assets/images/resource/post-thumb-3.jpg" alt=""></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                                    <div class="text"><a href="blog-single.html">American Black Film Festival New projects from film TV</a></div>
                                                    <div class="post-info">April 03, 2016</div>
                                                </article>
                                                
                                                <article class="widget-post">
                                                    <figure class="post-thumb"><a href="blog-single.html"><img src="assets/images/resource/post-thumb-4.jpg" alt=""></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                                    <div class="text"><a href="blog-single.html">Amy Schumer swaps lives with Anna Wintour</a></div>
                                                    <div class="post-info">April 04, 2016</div>
                                                </article>
                                                
                                            </div>
                                        </div>
                                        
                                        <!--Tab-->
                                        <div class="tab" id="prod-recent">
                                            <div class="content">
                                                
                                                <article class="widget-post">
                                                    <figure class="post-thumb"><a href="blog-single.html"><img src="assets/images/resource/post-thumb-2.jpg" alt=""></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                                    <div class="text"><a href="blog-single.html">Jerry Seinfeld grabs coffee with Margaret Cho and it gets</a></div>
                                                    <div class="post-info">April 02, 2016</div>
                                                </article>
                                                
                                                <article class="widget-post">
                                                    <figure class="post-thumb"><a href="blog-single.html"><img src="assets/images/resource/post-thumb-3.jpg" alt=""></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                                    <div class="text"><a href="blog-single.html">American Black Film Festival New projects from film TV</a></div>
                                                    <div class="post-info">April 03, 2016</div>
                                                </article>
                                                
                                            </div>
                                        </div>
                                        
                                        <!--Tab-->
                                        <div class="tab" id="prod-comment">
                                            <div class="content">
                                                
                                                <article class="widget-post">
                                                    <figure class="post-thumb"><a href="blog-single.html"><img src="assets/images/resource/post-thumb-3.jpg" alt=""></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                                    <div class="text"><a href="blog-single.html">American Black Film Festival New projects from film TV</a></div>
                                                    <div class="post-info">April 03, 2016</div>
                                                </article>
                                                
                                                <article class="widget-post">
                                                    <figure class="post-thumb"><a href="blog-single.html"><img src="assets/images/resource/post-thumb-4.jpg" alt=""></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                                    <div class="text"><a href="blog-single.html">Amy Schumer swaps lives with Anna Wintour</a></div>
                                                    <div class="post-info">April 04, 2016</div>
                                                </article>
                                                
                                                <article class="widget-post">
                                                    <figure class="post-thumb"><a href="blog-single.html"><img src="assets/images/resource/post-thumb-1.jpg" alt=""></a><div class="overlay"><span class="icon qb-play-arrow"></span></div></figure>
                                                    <div class="text"><a href="blog-single.html">Priyanka Chopra got her what photoshopped?</a></div>
                                                    <div class="post-info">April 01, 2016</div>
                                                </article>
                                                
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <!--End Product Info Tabs-->
                            
                        </div>
                        <!--End Post Widget-->
                        
                        <!--Category Widget-->
                        <div class="sidebar-widget categories-widget">
                            <div class="sidebar-title">
                                <h2>Categories</h2>
                            </div>
                            <ul class="cat-list">
                                <li class="clearfix"><a href="#">Travel <span>(30)</span></a></li>
                                <li class="clearfix"><a href="#">Entertainment<span>(9)</span></a></li>
                                <li class="clearfix"><a href="#">Sport<span>(13)</span></a></li>
                                <li class="clearfix"><a href="#">Life Style<span>(70)</span></a></li>
                                <li class="clearfix"><a href="#">Tech<span>(11)</span></a></li>
                                <li class="clearfix"><a href="#">Money<span>(5)</span></a></li>
                                <li class="clearfix"><a href="#">Photo<span>(14)</span></a></li>
                            </ul>
                        </div>
                        <!--End Category Widget-->
                        
                    </aside>
                </div>
                
            </div>
            
        </div>
    </div>
    <!--End Sidebar Page Container-->